/* import font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Poppins imported by the url */
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    background: #ceead0;
}

/* style for the back to top btn */
#back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 100;
    border: none;
    outline: none;
    background-color: #abdbaf;
    color: #ceead0;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
  }
  
#back-to-top-btn:hover {
    background-color: #48ab51;
}


nav {
    display: flex;
    /* align-items: cross axis */
    align-items: center;
    /* justify-content: main axis */
    justify-content: space-around;
    height: 80px;
    padding: 0 50px;
}

nav h2 {
    color: #48ab51;
    font-weight: 600;
}

nav ul {
    /* make ul items of navbar in flexbox */
    display: flex;
}

nav ul li {
    /* remove the dot before li */
    list-style: none;
}

nav ul li a {
    /* remove underline of the links */
    text-decoration: none;
    color: #444844;
    font-size: 16px;
    margin-right: 25px;
    /* color transition */
    transition: color 0.3s ease;
}

nav ul li:hover a {
    /* together with the transition above, when hover lands on the link, link font color is changed */
    color: #48ab51;
}

nav ul li:last-child a {
    margin: 0;
}

/* unified btn style defined by me, can be used on pure btns or link btns */
.my-btn{
    background-color: #abdbaf;
    color: #444844;
    padding: 6px 30px;
    border: none;
    font-size: 16px;
    /* change cursor shape to pointer when above the button */
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.my-btn:hover, .my-btn:hover a{
    /* change button color when hover transition is set */
    color:#ceead0;
}

/* to be used on link btns */
.my-btn a {
    text-decoration: none;
    color: #444844;
}

main {
    height: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h4 {
    font-size: 32px;
    color: #444844;
    font-weight: 600;
}

main h4 span {
    color: #48ab51;
    text-decoration: underline;
}

main p.title{
    font-size: 44px;
    font-weight: 600;
    color: #444844;
    margin-top: 8px;
}

main p.subtitle {
    font-size: 16px;
    color: #48ab51;
    margin-top: 20px;
}

/* TODO:style for my logo */
/* main img {
    width: 200px;
    height: 200px;
} */

#about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    padding: 0 90px;
}

/* #about img{
    width: 280px;
} */

#about .info h3{
    color: #444844;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}

#about.info p {
    color: #ccc;
    font-size: 14px;
}

#about .info button {
    margin-top: 30px;
}

/* start of the project div */
#projects {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

#projects .left {
    width: 680px;
}

#projects .left .info h3 {
    color: #444844;
    font-size: 30px;
    margin-bottom: 20px;
}

#projects .left button {
    margin-top: 30px;
}

#projects .right {
    width: 420px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 12px;
}

#projects .right .item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #abdbaf;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

#projects .right .item i {
    font-size: 36px;
    color: #444844;
}
/* end of the project div */


/* start of the skills div */
#skills {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

#skills .left {
    width: 680px;
}

#skills .left .info h3 {
    color: #444844;
    font-size: 30px;
    margin-bottom: 20px;
}

#skills .left .info p {
    color: #444844;
    font-size: 14px;
}

#skills .left button {
    margin-top: 30px;
}

#skills .right {
    width: 420px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
}

#skills .right .item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #abdbaf;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

#skills .right .item i {
    font-size: 36px;
    color: #444844;
}
/* end of th skills div */

footer {
    position: relative;
    background: #444844;
    padding: 80px 50px 40px;
    margin-top: 100px;
}

footer .start {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    background-color: #abdbaf;
    padding: 30px 25px;
    border-radius: 15px;
    width: 70%;
    /* make the start div above the footer div */
    top: -16px;
    left: 10%;
}

footer .start p {
    font-size: 13px;
    width: 35%;
}

footer .start button {
    background: transparent;
    border: 2px solid #444844;
    border-radius: 100px;
    transition: all 0.3s ease;
}

footer .start button:hover {
    border-color: #ceead0;
}

footer .cols{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
    margin-top: 30px;
}

footer .cols .about-col {
    flex: auto;
}

footer .cols .about-col h3 {
    color: #abdbaf;
    margin-bottom: 20px;
}

footer .cols .about-col p {
    color: #ceead0;
    font-size: 13px;
}

footer .cols .links-col {
    flex: auto;
}

footer .cols .links-col h4, footer .cols .news-col h4 {
    color: #ceead0;
    margin-bottom: 20px;
}

footer .cols .links-col a {
    display: block;
    text-decoration: none;
    color: #ceead0;
    font-size: 13px;
    line-height: 26px;
    transition: color 0.3s ease;
}

footer .cols .links-col a:hover {
    color: #abdbaf;
}

footer .cols .news-col {
    flex: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

  


